.container {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}

.step-slide {
  width: 100vw;
  height: 100%;
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(130, 170, 238);

  .steps-wrapper {
    background-color: $background-white;
    width: 80%;
    height: auto;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
  }
}
